@import "../src/assets/styles/nav";
@import "../src/assets/styles/teaser";
@import "../src/assets/styles/products";
@import "../src/assets/styles/tech";
@import "../src/assets/styles/database";
@import "../src/assets/styles/framework";
@import "../src/assets/styles/modules";
@import "../src/assets/styles/support";
@import "../src/assets/styles/share";
@import "../src/assets/styles/footer";

@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Bold"), local("Montserrat-Bold"),
    url(assets/fonts/montserrat/Montserrat-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"),
    url(assets/fonts/montserrat/Montserrat-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Montserrat Light";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Light"), local("Montserrat-Light"),
    url(assets/fonts/montserrat/Montserrat-Light.otf) format("truetype");
}

.standard__font {
  font-family: "Montserrat Light";
}

.bold__font {
  font-family: "Montserrat Bold";
}

* {
  &:focus {
    outline: none;
    outline-color: transparent;
  }
}

#root {
  font-family: "Montserrat Light";
  position: relative;
  width: 100%;
}

.App {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  color: #000000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
li {
  word-wrap: break-word;
}

h3,
h4,
h5,
li,
ol {
  user-select: none;
  font-weight: normal;
}

a {
  color: #000000;
  font-family: "Montserrat Light";
  text-decoration-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

h1 {
  font-family: "Montserrat Bold";
}

h2 {
  font-family: "Montserrat Regular";
}

h3 {
  font-family: "Montserrat Light";
}

p {
  color: #000000;
  font-size: 0.875rem;
}

.bold {
  font-weight: 700;
}

.align-center {
  text-align: center;
}

.show-mobile {
  display: flex;
}

.show-desktop {
  display: none;
}

div[class^="content__"]:not(.content__nav) {
  position: relative;
  padding: 1rem 15px 2rem;
}

div[class^="container__"],
div[class$="__container"] {
  position: relative;
}

.nav__row {
  margin: 0 auto;
  position: relative;
}

.teaser__row {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.fa-check-circle {
  color: rgb(64, 192, 64);
}

.button-wrapper {
  margin: 1rem auto;
  text-align: center;
  position: relative;
  width: 100%;
}

button {
  position: relative;
  padding: 0.5rem 1rem;

  &.btn {
    border: 2px solid rgba(128, 128, 128, 1);

    &:hover {
      background-color: rgba(128, 128, 128, 1);
      color: #ffffff;
    }
  }

  &.btn-round {
    border-radius: 25px;
    font-weight: bold;
    padding: 0.5rem 1.5rem 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .show-mobile {
    display: none;
  }

  .show-desktop {
    display: flex;
  }

  p {
    font-size: 1rem;
  }

  .nav__container,
  div[class^="content__"]:not(.content__nav) {
    margin: 0 auto;
    width: 1170px;
  }

  div[class^="content__"]:not(.content__nav) {
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    height: 100%;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    width: 100%;
  }
}
