.content__modules {
  .modules__row {
    display: flex;
  }

  .modules__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .modules__wrapper {
      width: 50%;
    }

    h4 {
      text-align: center;
    }

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .content__modules {
    .modules__row {
      justify-content: space-between;
    }

    .modules__container {
      flex-direction: row;
      margin: 1rem auto 1rem;
      padding: 0 2rem;

      .modules__wrapper {
        width: 25%;
      }
    }
  }
}
