.content__support {
  .support__row {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5rem 0;

    .support__container {
      margin: 1.5rem 0;

      &:last-of-type {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .content__support {
    .support__row {
      flex-direction: row;
      justify-content: space-between;

      .support__container {
        &:first-of-type {
          width: 46%;
        }

        &:last-of-type {
          width: auto;
        }
      }

      p {
        margin: 0;
      }

      .button-wrapper {
        text-align: left;
      }
    }
  }
}
